.pane
  We do this this and this, check it out.

  %button.sign_up.green(type="submit")
    .title Sign Up
    .subtitle Free your inbox from the tyranny of newsletters now

- unless user_signed_in?
  %h2 Sign Up
  = render :partial => "registrations/new", :locals => {:resource => @user}
- else
  = link_to "Send Summary Now", send_summary_path

= form_tag sendgrid_create_messages_path do
  - {"headers"=>"Received: by 127.0.0.1 with SMTP id dcWRLBAzku Fri, 04 Mar 2011 11:31:24 -0600 (CST)\nReceived: from mail-ey0-f177.google.com (mail-ey0-f177.google.com [209.85.215.177]) by mx2.sendgrid.net (Postfix) with ESMTPS id 3B360178D091 for <check@watch.skylightlabs.ca>; Fri,  4 Mar 2011 11:31:24 -0600 (CST)\nReceived: by eyh6 with SMTP id 6so753986eyh.8 for <check@watch.skylightlabs.ca>; Fri, 04 Mar 2011 09:31:23 -0800 (PST)\nDKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=gmail.com; s=gamma; h=domainkey-signature:mime-version:date:message-id:subject:from:to :content-type; bh=V+5DBRW19CKExfCt+6QzQps41/4o9otGGkrLz5SOQyI=; b=jrn0caVpSgZ4gI/3LdVsWaNTQPx6fDW7e/1Ia1ul2V6xt/Fxf4IoZQk7hO1k17aTuh 2lL9DqAJVsf25CihIuMRLN3311pK4VE44j66FHFJYjRt5FWwFDNSwiptb6A3rBtzIcji XgSFLpldjS95DPSvQmpvAiI1eZ+ekEwS0fAEo=\nDomainKey-Signature: a=rsa-sha1; c=nofws; d=gmail.com; s=gamma; h=mime-version:date:message-id:subject:from:to:content-type; b=LqNk/sWbk/FTs/JKuV9mn/2sH5xbN3ytcpjSJztQuu7k4NiAelOyNBz3MO3EO3JToB FYK/wv666meiJ9OUxau4zHpWZJpxw4RFMJlaqQKrYf18pQRCyadjjZHP4OawlwDfZfl/ xbnRcu/l+lDxE9aKPyX1Lof7K2wQEuvq1Kpyk=\nMIME-Version: 1.0\nReceived: by 10.213.13.132 with SMTP id c4mr642300eba.9.1299259882992; Fri, 04 Mar 2011 09:31:22 -0800 (PST)\nReceived: by 10.213.34.7 with HTTP; Fri, 4 Mar 2011 09:31:22 -0800 (PST)\nDate: Fri, 4 Mar 2011 12:31:22 -0500\nMessage-ID: <AANLkTikH6SVoh+O8-j1+iyVfergxTUF=PyD07QZQ6CfF@mail.gmail.com>\nSubject: sup\nFrom: Harry Brundage <harry.brundage@gmail.com>\nTo: check@watch.skylightlabs.ca\nContent-Type: multipart/alternative; boundary=0015174c42f4cbf3b0049dab83a1\n", "attachments"=>"0", "dkim"=>"{@gmail.com : fail (body has been altered), harry.brundage@gmail.com : fail (message has been altered)}", "subject"=>"sup", "to"=>"check@watch.skylightlabs.ca", "html"=>"<br clear=\"all\"><br>-- <br>Cheers,<br>Harry Brundage<br>\n", "from"=>"Harry Brundage <harry.brundage@gmail.com>", "text"=>"-- \r\nCheers,\r\nHarry Brundage\n", "envelope"=>"{\"to\":[\"check@watch.skylightlabs.ca\"],\"from\":\"harry.brundage@gmail.com\"}", "charsets"=>"{\"to\":\"UTF-8\",\"html\":\"ISO-8859-1\",\"subject\":\"UTF-8\",\"from\":\"UTF-8\",\"text\":\"ISO-8859-1\"}", "SPF"=>"pass"}.each do |k, v|
    = text_area_tag k, v
  = submit_tag
  
