%p#notice= notice

%p
  %b To name:
  = @message.to_name
%p
  %b To email:
  = @message.to_email
%p
  %b User:
  = @message.user_id
%p
  %b From name:
  = @message.from_name
%p
  %b From email:
  = @message.from_email
%p
  %b Subject:
  = @message.subject
%p
  %b Html body:
  = @message.html_body
%p
  %b Text body:
  = @message.text_body

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
