= simple_form_for resource, :url => user_registration_path, :html => {:novalidate => true} do |f|
  = f.input :email, :label => false
  = f.input :mask_email_name, :label => false, :wrapper_html => {:class => "ghostwrite"} do
    = f.text_field :mask_email_name, :placeholder => "Othermail Email"
    = f.error :mask_email
    %span.ghost
      %span.write>
      @othermail.me
  %br
  = f.input :summary_frequency,
              :prompt => "How often should we email you?",
              :label => false,
              :as => :select, 
              :collection => f.object.available_summary_frequencies.collect {|(k,v)| [v,k.to_s]}
  = f.input :invite_code, :label => false
  %br
  = f.submit

