!!!
%html
  %head
    %title Othermail
    = include_stylesheets :screen, :media => 'screen, projection'
    = include_stylesheets :print, :media => 'print'
    /[if lt IE 8]
      = include_stylesheets :ie, :media => 'screen, projection'
    = include_javascripts :main
    
    = csrf_meta_tag
  %body
    #container
      %header
        .line &nbsp;
        .content
          %h1 
            %a{:href=>root_path} 
              %img(src="/images/logo.png" alt="Othermail")
          %nav
            = link_to "Learn More", learn_more_path
            |
            = link_to "FAQ", faq_path
            |
            = link_to "Twitter", "http://twitter.com/OtherMail"
            - if user_signed_in?
              -#%li= link_to "Sign Out", sign_out_path
          .clear
      .content
        - [:error, :notice, :success, :alert].select {|f| flash[f].present? }.each do |f|
          %div(class="#{f} flash")
            = flash[f]
        = yield :before_body
        .body
          = content_for?(:content) ? yield(:content) : yield

        #container_footer &nbsp;
    %footer
      %img(src="/images/inbox.png" alt="Othermail will rock your world.")

    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21995641-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    :javascript
      var mpq = [];
      mpq.push(["init", "#{Multiplex::Application::MixpanelKey}"]);
      (function() {
      var mp = document.createElement("script"); mp.type = "text/javascript"; mp.async = true;
      mp.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + "//api.mixpanel.com/site_media/js/api/mixpanel.js";
      var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(mp, s);
      })();
        
