!!!
%html
  %head
    %title Otherbox
    = include_stylesheets :screen, :media => 'screen, projection'
    = include_stylesheets :print, :media => 'print'
    /[if lt IE 8]
      = include_stylesheets :ie, :media => 'screen, projection'
    = include_javascripts :main
    
    = csrf_meta_tag
  %body
    #container
      #content
        %header
          %h1 
            = link_to "Otherbox", root_path
          %nav
            = link_to "About", "#"
            |
            = link_to "FAQ", faq_path
            |
            = link_to "Feedback", "#"
            |
            - if user_signed_in?
              = link_to "Sign Out", sign_out_path
            - else
              = link_to "Sign Up", sign_up_path

        - [:error, :notice, :success, :alert].select {|f| flash[f].present? }.each do |f|
          %div(class="#{f} flash")
            = flash[f]

        = yield
        #container_footer &nbsp;
    %footer
      <p>Copyright 2011 Otherbox. Problems? Tell us about it!</p>
